.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 10px;
    color: white;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .message {
    padding: 5px;
    background: #333;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .chat-form {
    display: flex;
  }
  
  .chat-form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .chat-form button {
    padding: 10px;
    border: none;
    background: #555;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .chat-form button:hover {
    background: #777;
  }