.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px; /* width when collapsed */
    height: 100%;
    background-color: #2b242e;
    overflow-x: hidden;
    transition: width 0.3s;
  }
  
  .sidebar:hover {
    width: 200px; /* width when expanded */
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  .sidebar-content h2 {
    color: white;
    display: none; /* hide the title when collapsed */
  }
  
  .sidebar:hover .sidebar-content h2 {
    display: block; /* show the title when expanded */
  }
  
  .sidebar-content ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar-content ul li {
    width: 100%;
  }
  
  .sidebar-content ul li a {
    display: flex; /* Change display to flex */
    align-items: center;
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: left;
    transition: background-color 0.3s, opacity 0.3s; /* apply transition effect */
  }
  
  .sidebar-content ul li a:hover {
    background-color: #0dbf42;
  }
  
  .sidebar:hover .sidebar-content ul li a {
    opacity: 1; /* Show link text when expanded */
  }
  .sidebar-content ul li a .icon {
    opacity: 1; /* Set icon opacity to 1 by default */
    margin-right: 8px;
    transition: opacity 0.3s; /* apply transition effect */
  }
  
  .sidebar:hover .sidebar-content ul li a .icon {
    display: none; /* hide the icon when expanded */
  }

  .sidebar-content ul li a .linkText {
    display: none; /* hide the text when collapsed */
    transition: opacity 0.3s; /* apply transition effect */
  }

  .sidebar:hover .sidebar-content ul li a .linkText {
    display: inline; /* show the text when expanded */
  }

  .logout-button {
    display: none; /* hide the logout button when collapsed */
  }
  .sidebar:hover .logout-button {
    display: block; /* show the logout button when expanded */
    width: 100%; /* Ensure the button takes full width */
    padding: 10px;
    color: white;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 0%;
    transition: background-color 0.3s;
  }
  
  .sidebar:hover .logout-button:hover {
    background-color: #fa0909; /* same hover effect as links */
  }

  