.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  text-align: center;
  background-color: #f7f7f7;
  color: #333;
}

.spinner-overlay {
  display: flex;
  align-items: center; 
  background-color: #f7f7f7;
  justify-content: center;
  height: 100vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #dbdbdb;
  color: black;
  width: 30px;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.call-composite-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}